.bloco-1 {
    background-color: lightgreen;
    height: 148px;
    width: 148px;
    text-align: center; 
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: 11px;

}
.bloco-2 {
    background-color: brown;
    height: 148px;
    width: 148px;
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: 11px;

}
.bloco-3 {
    background-color: black;
    height: 148px;
    width: 148px;
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: 11px;

}
.container {
    display: flex;
    flex-direction: row;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-row {
    display: flex;
    flex-direction: row;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-column {
    display: flex;
    flex-direction: column;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-column-reverse {
    display: flex;
    flex-direction:column-reverse;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-flex-center {
    display: flex;
    flex-direction: flex;
    justify-content: center;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-flex-start {
    display: flex;
    flex-direction: start;
    justify-content: flex-start;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-end {
    display: flex;
    flex-direction: end;
    justify-content: flex-end;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-space-aro{
    display: flex;
    flex-direction: row;
    justify-content: space-aro;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478px;
}

.container-justify-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }

.container-alignitems-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }
   
   .container-alignitems-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }

   .container-alignitems-top{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:top ;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }

   .container-alignitems-flex-end{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:flex-end;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }
   
   .container-alignitems-stretch{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:stretch ;

   /* indiferente */
   background-color: blue;
   padding: 12px;
   height: 478p;
   }

   

